bootstrapping==0.1.2
bottle==0.12.19
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
Click==7.0
dataclasses==0.6
dj-database-url==0.5.0
Django==2.0
django-heroku==0.3.1
django-mongodb-engine==0.6.0
-e git+https://github.com/MongoEngine/django-mongoengine.git@063dd8d95287707b9baef8e634dac605844534e1#egg=django_mongoengine
djangotoolbox==1.8.0
djongo==1.2.30
dnspython==1.15.0
gunicorn==19.9.0
httplib2==0.11.3
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jws==0.1.3
MarkupSafe==1.0
mongoengine==0.15.3
oauth2client==3.0.0
pipenv==2018.7.1
protobuf==3.6.0
psycopg2==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pymongo==3.7.1
python-firebase==1.2
python-jwt==2.0.1
pytz==2018.5
requests==2.19.1
requests-toolbelt==0.7.0
rsa==3.4.2
six==1.11.0
sqlparse==0.2.4
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
whitenoise==4.1
